@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans KR', sans-serif;
  color: #1B1D21;
  background: #F4F5F7;
  margin: 0;
}
